/*Keep track of the design layout 
with the media querie to organize it when'
the screen goes much more smaller*/
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
/*On phone maybe?*/
@media screen and (min-width:600px){
    aside{
        width: 100%;
    }
    section{
        width: 100%;
    }
    article{
        width: 100%;
    }
}

