*{
    /* no use for these, I already know how to use it*/
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 0 0 0 0;
}
body{
    margin: 0;
    background: linear-gradient(135deg, rgb(250, 108, 250), rgb(248, 185, 66));
}
header{
    text-align: center;
    color: hsl(39, 100%, 50%);
    background: linear-gradient(135deg, navy, orange);
    padding: 5Q;
}
/*For the fixed cat position*/
div.cat{
    position: fixed;
    bottom: 0;
    right: 0;
}
div.sticky{
    position: sticky;
    top: 0;
    background-color: transparent;
    border: 2px solid #FF6;
}
/*New sections*/
#new-section{
    border-style: outset;
    font-family: sans-serif;
}
#Attended{
    border-style: outset;
    font-family: sans-serif;
}
#Notes{
    border-style: outset;
    font-family: sans-serif;
}
#Ideas{
    border-style: outset;
    font-family: sans-serif;
}
#Topics{
    border-style: outset;
    font-family: sans-serif;
}
#Pictures{
    border-style: outset;
    font-family: sans-serif;
}

/* The navagation bar*/
.navbar ul{
    list-style-type: none;
    background-color: rgb(63, 3, 63);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color: orange;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(160, 121, 49);

}
.navbar li{
    float: left;
}

/*Gallery of the pictures*/
.gallery{
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
}

.gallery .description{
        padding: 10px;
        text-align: center;
    
}

.gallery:hover{
    border: 2mm solid black;
}

.gallery img{
    width: 100%;
    height: auto;
}
/*Links*/
a[href^="http"]{
    color: blue
}
a:hover, a:active{
    color: rgb(93, 40, 114);
    font-size: 1.1em;
}
a:visited{
    color: rgba(255, 150, 13, 0.705);

}
/*Grid*/
.container{
    display: grid;
    grid-template-areas: 
    'header header header header header hi'
    'Menu Menu main main main hi'
    'Menu Menu footer footer footer hello';

    gap: 5px;
    background-color: purple;
    padding: 5px;
   
}

.container > div{
    background-color: violet;
    text-align: center;
    font-size: 30px;
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: footer;
}
.item4{
    grid-area: Menu;
}
.item5{
    grid-area: hi;
}
.item6{
    grid-area: hello;
}

/* Flex box*/
*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: orange;
}
.flex-container > div{
    text-align: center;
    color: blue;
    background-color: violet;
    width: 100px;
    height: auto;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}

/*Just changes the color of the text below the flex box*/
.flex-container-con .flex-container ~ p{
    color: yellow;
}

.flex-container-con .flex-container + h7{
    color: red;
}

article.combine{
    color: blue;
}

